ABOUT-NLS
aclocal.m4
AUTHORS
auto-aux
auto-m4
ChangeLog
config.h.in
configure
configure.ac
contrib
COPYING
doc
gphoto2
gphoto-m4
INSTALL
Makefile.am
Makefile.in
NEWS
packaging
po
README
README.md
tests
TODO
